/* General Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Inria Serif", serif;
}

/* Skip Link Styling */
.skip-link {
  position: absolute;
  top: -40px;
  left: 10px;
  background: black;
  color: #fff;
  padding: 10px 15px;
  z-index: 200;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  outline: none;
}

.skip-link:focus {
  top: 10px;
  outline: 2px solid #007bff;
}

.skip-link:hover {
  background-color: #0056b3;
}

.skip-link:focus,
.skip-link:hover {
  color: #007bff;
}

/* Header Styling */
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #CDA563;
  padding: 1px 0;
  border-bottom: 1px solid #194946;
}

head-bar {
  max-width: 100rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

nav {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 40px;
}

nav li {
  list-style-type: none;
  transition: transform 0.3s ease;
}

nav li:hover {
  transform: scale(1.05);
}

nav li a {
  padding: 12px 0;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #194946;
  transition: color 0.3s ease;
  margin-right: 20px;
}

nav li a:hover {
  color: #fff;
}

.navigation {
  display: flex;
  width: 100%;
  padding: 0px;
  padding-bottom: 0;
}

.name {
  color: #194946;
  font-size: 39px;
  font-weight: bolder;
  text-decoration: none;
  padding: 10px;
}

#hamburger_logo {
  font-size: 44px;
  width: 44px;
  height: 44px;
  text-decoration: none;
  color: black;
  display: none;
  position: absolute; /* Position absolutely */
  right: 20px; /* Position 20px from the right */
  top: 10px; /* Position 10px from the top */
  z-index: 200; /* Ensure it is above other elements */
}

#hamburger_logo:focus {
  outline: auto;
}

#hamburger_logo,
nav ul li a {
  margin-bottom: 10px;
}

/* Hero Section Styles */
.hero {
  display: flex;
  align-items: center;
  min-height: 800px;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.carousel-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  transition: opacity 1s ease-in-out;
}

.carousel-image.active {
  display: block;
}

.carousel-dots {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-dots .dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-dots .dot.active {
  background-color: #007bff;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1;
}

.hero__desc {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #CDA563;
  text-align: center;
  width: 80%; 
  max-width: 800px;
  margin: 0 auto;
}

.hero__title {
  font-weight: bold;
  font-size: 65px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 20px;
  white-space: pre-line;
}

/* Button Styles */
button {
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.hero__desc button {
  padding: 20px 30px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}

.hero__desc button:hover {
  background-color: #fff;
  color: #000;
}

.hero__desc button:focus {
  background-color: #fff;
  color: #000;
}

/* Wisata Home */

/* CONTENT */

main {
  width: 100%;
  margin: 0 auto;
}

.content {
  padding: 32px;
}

/* EXPLORE */

.explore {
  /*max-width: 55rem; */
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.explore-title {
  font-size: 32px;
  font-weight: lighter;
}

.explore-title::after {
  content: '';
  margin-top: 16px;
  display: block;
  border-bottom: 1px solid #eeeeee;
}

/* CARDS */

.wisata {
  margin: 20px auto auto;
  text-align: left;
}

/* CARDS ITEM */

.wisata-list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.wisata-list:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.wisata-list img {
  object-fit: cover;
  height: 200px;
}

.wisata-list-content {
  padding: 16px;
}

.wisata-list-image {
  z-index: 0;
  width: 100%;
}

.wisata-list-title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 6px;
  transition: 0.3s opacity;
}

.wisata-list-title:hover {
  opacity: 0.7;
  color: #5A72A0;
}

.wisata-list-title a {
  text-decoration: none;
  color: inherit;
  padding: 12px 0;
}

.wisata-description {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.5em;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.lihat-detail {
  text-decoration: none;
}

/* Back to Top Button Styles */
.btn-back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #CDA563;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.btn-back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.btn-back-to-top:hover {
  background-color: #5b9779;
  transform: translateY(-5px);
}



/* Main Styles */
.wisata-info {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.wisata-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #194946;
}

.wisata-info p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
  border-top: 1px solid #e7e7e7;
}

.wisata-info p:last-child {
  margin-bottom: 0;
}

/* Detail Page Styles */
.detail_content{
  padding: 70px 30px 110px 30px;
}

.detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.detail_item {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.wisata_img {
  width: 60%;
  max-height: 400px;
}

.wisata_img img {
  width: 100%;
  position: relative;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.wisata_detail {
  width: 40%;
  padding: 0 0 0 20px;
}

.wisata_name {
  margin-top: 15px;
  font-size: 31px;
  font-weight: 600;
  color: #1B2631;
}

.wisata_detail p {
  margin-top: 15px;
  font-size: 19px;
  font-weight: 600;
  color: #1B2631;
}

.wisata_detail p:first-child {
  margin-top: 0;
}
.wisata_detail p span, .wisata_detail span {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}

.wisata_desc {
  border-bottom: 3px solid #95A5A6;
}

.wisata_desc .wisata_text  {
  font-size: 19px;
  font-weight: 600;
  margin-top: 10px;
}

.wisata_desc p{
  text-align: justify;
  font-size: 18px;

  margin-top: 10px;
  margin-bottom: 50px;
}

/* Review */



/* Wisata Button */

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#wisata-detail button {
  padding: 10px 20px;
  background-color: #194946;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#wisata-detail button:hover {
  background-color: #007bff;
}

/* Form Styles */
form {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  background-color: #fff;
}

form label {
  display: block;
  font-size: 18px;
  color: #194946;
  margin-bottom: 10px;
}

form input,
form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form input[type="file"] {
  padding: 3px;
}

form button {
  padding: 10px 20px;
  background-color: #194946;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #007bff;
}

.button-back-to{
  display: flex;
  justify-content: right;
  margin-top: -35px;
}


/* Footer Styles */
.container {
  border-top: 1px solid #e7e7e7;
  color: #1B2631;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-display: optional;
}

.container .card_about {
  background-color: #E3D3B9;
  border: 1px solid #e7e7e7;
  border-radius: 8px; 
  padding: 20px;
  margin-bottom: 20px;
}

.container .card_about p {
  font-size: 20px;
  color: #333;
}

.container .card_about p:last-child {
  margin-bottom: 0;
}

.container .foot-title {
  font-size: 30px;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 30px;
}

.container p {
  margin: 10px 0;
  font-size: 16px;
  font-display: optional;
}

.team-section {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.team-members {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.team-member {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.team-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.team-photo:hover {
  transform: scale(1.2);
}

.team-member h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
.foot {
  border: 1px solid #e7e7e7;
  background-color: #CDA563;
  padding: 20px 15px;
  text-align: center;
}

.foot p {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #194946;
  margin-bottom: 10px;
  margin-top: 10px;
}

.additional-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* social Styles */
.social-links a {
  color: #194946;
  font-size: 30px;
  margin: 0 10px;
}

.social-links a:hover {
  color: #007bff;
}


.left-info,
.right-info {
  flex: 1;
}

.left-info p,
.right-info p {
  margin-bottom: 10px;
}

.left-info {
  text-align: left;
}

.left-info h3{
  margin-top: 20px;
}

.left-info p {
  font-size: 15px;
  text-align: left;
  color:#ffffff;
}


.left-info p:last-child {
  margin-bottom: 0;
}


.social-links a {
  display: inline-block;
  margin-left: 10px;
  color: #194946;
}

.social-links a:first-child {
  margin-left: 0; 
}

.social-links a i {
  margin-right: 5px;
}



