<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <title>Detail Wisata</title>
</head>
<body>
    <a href="#wisata-detail" class="skip-link" tabindex="0">Skip to Content</a> <!-- menambah skip content -->
    <header>
        <head-bar></head-bar>
    </header>
    <main>
        <div id="wisata-detail" class="detail_content"></div>
        <button class="btn-back-to-top" aria-label="Back to top"><i class="fas fa-chevron-up"></i></button>
    </main>
    <footer id="footer">
        <footer-detail></footer-detail>
    </footer>
    <script src="./detail.bundle.js"></script>
</body>
</html>
