<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.png">

    <title>YG Treasure</title>
</head>

<body>
    <a href="#main-content" class="skip-link" tabindex="0">Skip to Content</a>
    <header>
        <head-bar></head-bar>
    </header>
    <hero-bar></hero-bar>
    <main>
        
    </main>

    <footer>
        <footer-bar></footer-bar>
    </footer>
</body>
</html>